@keyframes moveUp {
    0% {
    transform: translateY(100vh); 
  }

  100% {
    transform: translateY(-100vh); 
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



.animatedIcon {
  animation: moveUp 15s linear infinite;
}

.sunIcon {
  position: absolute;
  z-index: 1;
  animation: rotate 20s linear infinite;

}